$main-color : #004b9e;


body, ul, li {
    color: $main-color;
    margin: 0;
    padding: 0;
}

div, button{
    box-sizing: border-box;
}

.App{
    margin: auto;
}

header {
    max-width: 100%;
    height: 200px;

    >div {
        margin: auto;
        width: 1078px;
        margin-top: 200px;
        height: 200px;
    }


    .biryong {
        margin: auto;
        position: relative;
        float: left;
        width: 15%;
        height: 90%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./img/biryong.png);
    }

    .header-top {
        display: flex;
        align-items: flex-end;
        float: left;
        width: 80%;
        height: 50%;

        .inha-logo {
            width: 24%;
            height: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./img/inha_logo.png);
        }

        .nav {
            position: relative;
            bottom: 0;
            left: 60px;
            font-weight: 700;
            text-decoration-line: none;
            width: 20%;
            height: 30%;
        }
    }

    .header-bottom {
        position: relative;
        border: 2.5px solid $main-color;
        display: flex;
        overflow-y: auto;
        overflow: visible;
        align-items: center; 
        float: left;
        border-radius: 10px;
        width: 80%;
        height: 37%;

        img {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;

            &:hover{
                cursor: pointer;
            }
        }

        .search {
            margin-left: 20px;
            position: relative;
            width: calc(100% - 50px);
            overflow-x: auto;
            display: flex;
            align-items: baseline;

            .keyword{
                background-color: #2196d5;
                color: white;
                display: inline;
                min-width: 130px;
                margin: 4px;
                font-weight: 700;
                padding: 10px;
                border: 1px solid black;
                border-radius: 18px;
                font-size: 18px;
            }

            input {
                border: none;
                outline: none;
                border-radius: 8px;
                font-size: 18px;
            }
        }

    }
}

.recommend-keyword{
    z-index: 1;
    background-color: white;
    font-size: 18px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    position: absolute;
    top: 70px;
    
    >div{
        border-bottom: 1px solid;
        padding: 10px;
    }
}

.del{

    float: right;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding: 3px;
    font-size: 16px;

    border: none;
    
    &:hover{
        cursor: pointer;
    }
    
}


.carousel{
    margin: auto;
    width: 1078px;
    height: 50px;

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: -70px;
        margin: auto;
        height: 100%;
        width: 1000px;

        .arrow{
            padding: 0px 10px;
            position: relative;
            bottom: 19px;
            height: 100%;
            text-align: center;
            display: flex;
            vertical-align: middle;
            font-size: 50px;
        }
    }

    .meun{
        max-width: 650px;
        height: 50px;

        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        

        ul{
            padding: 0 20px 0 20px;
            white-space:nowrap;
            overflow-x: auto;
            height: 100%;
            width: 135%;
            display: flex;
            align-items: center;

            li{
                margin: 0 12px;
                display: inline;
                padding: 10px 20px;
                border-radius: 19px;
                border: 1px solid $main-color;
                font-weight: 700;

                &:hover{
                    cursor: pointer;
                }
            }
        }
        
    }

}


.flex-wide {
    flex-grow: 2;
}

.main{
    position: relative;
    left: 70px;
    margin: auto;
    width: 1078px;
    padding: 10px;

    .btn{
        clear: both;
        width: 100%;
        text-align: center;   
    }
}

.card-container{
    margin-bottom: 30px;
    width: 33%;
    float: left;
}

.card{
    border: 1px solid $main-color;
    margin: 50px 50px 7px 50px;
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: 30px;

}

.title{
    font-weight: 700;
    text-align: center;
}



@media screen and(max-whidth: 1200px) {
    header > div{
        width: 600px;
    }      
}